<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>controller.Comment.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatformStats</servlet-name>
        <servlet-class>controller.admin.PlatformStats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPost</servlet-name>
        <servlet-class>controller.report.ReportPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePost</servlet-name>
        <servlet-class>controller.Post.SavePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPlaylist</servlet-name>
        <servlet-class>controller.Music.InsertPlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlaylist</servlet-name>
        <servlet-class>controller.Music.UpdatePlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlaylist</servlet-name>
        <servlet-class>controller.Music.DeletePlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlaylist</servlet-name>
        <servlet-class>controller.Music.ViewPlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPlayTime</servlet-name>
        <servlet-class>controller.Music.InsertPlayTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlayTime</servlet-name>
        <servlet-class>controller.Music.ViewPlayTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlayTime</servlet-name>
        <servlet-class>controller.Music.DeletePlayTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPost</servlet-name>
        <servlet-class>controller.Search.SearchPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controller.Search.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivePage</servlet-name>
        <servlet-class>controller.Live.LivePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveCheck</servlet-name>
        <servlet-class>controller.Live.LiveCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLive</servlet-name>
        <servlet-class>controller.Live.GetLive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateView</servlet-name>
        <servlet-class>controller.Live.UpdateView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndLive</servlet-name>
        <servlet-class>controller.Live.EndLive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveKey</servlet-name>
        <servlet-class>controller.Live.LiveKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLiveChat</servlet-name>
        <servlet-class>controller.Live.GetLiveChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAuction</servlet-name>
        <servlet-class>controller.Live.ViewAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewViewer</servlet-name>
        <servlet-class>controller.Live.ViewViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestCommisson</servlet-name>
        <servlet-class>controller.commission.RequestCommisson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGallery</servlet-name>
        <servlet-class>controller.Live.CreateGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewImagePost</servlet-name>
        <servlet-class>controller.Live.ViewImagePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRequestCom</servlet-name>
        <servlet-class>controller.commission.HandleRequestCom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAuction</servlet-name>
        <servlet-class>controller.Live.AddAuction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/api/search/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserProfileEdit</servlet-name>
        <servlet-class>controller.UserProfileEdit.UserProfileEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>controller.Post.CreatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <servlet-class>controller.Post.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controller.Post.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>controller.Like.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostViewerServlet</servlet-name>
        <servlet-class>controller.Post.PostViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserIDServlet</servlet-name>
        <servlet-class>controller.UserIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>controller.StatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentStats</servlet-name>
        <servlet-class>controller.admin.PaymentStats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileEdit</servlet-name>
        <url-pattern>/api/user-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserIDServlet</servlet-name>
        <url-pattern>/api/user/userid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/api/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/api/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/api/post/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/api/post/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/api/post/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostViewerServlet</servlet-name>
        <url-pattern>/api/post/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPost</servlet-name>
        <url-pattern>/api/post/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePost</servlet-name>
        <url-pattern>/api/post/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPlaylist</servlet-name>
        <url-pattern>/api/music/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlaylist</servlet-name>
        <url-pattern>/api/music/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlaylist</servlet-name>
        <url-pattern>/api/music/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlaylist</servlet-name>
        <url-pattern>/api/music/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPlayTime</servlet-name>
        <url-pattern>/api/music/time/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlayTime</servlet-name>
        <url-pattern>/api/music/time/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlayTime</servlet-name>
        <url-pattern>/api/music/time/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPost</servlet-name>
        <url-pattern>/api/search/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/api/comment/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatformStats</servlet-name>
        <url-pattern>/api/admin/statics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentStats</servlet-name>
        <url-pattern>/api/admin/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/api/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivePage</servlet-name>
        <url-pattern>/api/live</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveCheck</servlet-name>
        <url-pattern>/api/live/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLive</servlet-name>
        <url-pattern>/api/live/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateView</servlet-name>
        <url-pattern>/api/live/update/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndLive</servlet-name>
        <url-pattern>/api/live/detail/end</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveKey</servlet-name>
        <url-pattern>/api/live/key</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLiveChat</servlet-name>
        <url-pattern>/api/live/chat/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAuction</servlet-name>
        <url-pattern>/api/live/auction/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewViewer</servlet-name>
        <url-pattern>/api/live/view/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestCommisson</servlet-name>
        <url-pattern>/api/reqcom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGallery</servlet-name>
        <url-pattern>/api/live/gallery/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImagePost</servlet-name>
        <url-pattern>/api/live/gallery/image/pick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRequestCom</servlet-name>
        <url-pattern>/api/handlerequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAuction</servlet-name>
        <url-pattern>/api/live/auction/add</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
