HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
web/WEB-INF/env.txt
**/web/WEB-INF/env.txt
*env.txt
web/WEB-INF/env.txt
src/test/java/selenium

### NetBeans ###
ant_build.xml
/ant_nbproject
/nbproject/genfiles.properties
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

###env###
.env
config.properties
*.properties
/out