.live-page-container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #f0f0f0;
    h1{
        color: white;
        font-weight: bolder;
        text-decoration: underline;
        text-align: center;
        background-color: red;
        width: 20%;
        margin-bottom: 10px;
    }
    .live-post{
        display: flex;
        gap: 10px;
        border: 2px solid orange;
        border-radius: 10px;
        padding: 10px;
        width: 60%;
        height: 150px;
        .user-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 20%;
            border-right: 1px solid black;
            img{
                height: 80%;
                max-width: 80%;
            }
            .user-name{
                font-weight: bolder;
                text-align: center;
            }
        }
        .live-post-body{
            display: flex;
            gap: 10px;
            width: 80%;
            .live-post-content{
                width: 80%;
            }
            .live-post-stat{
                display: flex;
                flex-direction: column;
                justify-content: end;
                gap: 10px;
                width: 20%;
                .live-post-view{
                    text-align: right;
                }
                .live-post-time{
                    text-align: right;
                }
            }
        }
        
    }
}
.live-container{
    width: 100vw;
    height: 100vh;
    .live-header{
        display: flex;
        h1{
            width: 95%;
            padding-left: 10px;
        }
        button{
            width: 5%;
            border: none;
        }
        button:hover{
            border: 1px solid orange;
        }
    }
    .live-body{
        display: flex;
        width: 100%;
        height: 90%;
        gap: 10px;
        padding: 10px;
        .live-display{
            width: 75%;
            height: 580px;
        }
        .live-chat{
            width: 25%;
            height: 580px;
            border-radius: 10px;
            background-color: wheat;
            .live-chat-header{
                padding: 5px 10px;
                display: flex;
                span{
                    width: 70%;
                    border-bottom: 1px solid black;
                    padding: 3px;
                }
                .live-view{
                    width: 30%;
                    border: 1px solid red;
                    background-color: red;
                    border-radius: 10px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }
            .live-chat-body{
                padding: 5px 10px;
                height: 500px;
                background-color: rgb(60, 52, 52);
                overflow-y: auto;
                .chat-item{
                    display: flex;
                    gap: 5px;
                    img{

                    }
                    .user{
                        display: flex;
                        gap: 10px;
                        width: 90%;
                        color: white;

                        .user-name{
                            font-weight: bolder;
                            width: 15%;
                            word-break: break-word;
                        }
                        .user-text{
                            border: 1px solid orange;
                            border-radius: 10px;
                            width: 70%;
                            text-align: left;
                            padding-left: 10px;
                            word-break: break-word;
                        }
                    }
                }
            }
            .live-chat-input{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding-top: 5px;
                
                .icon-select{
                    margin-right: 10px;
                    color: red;
                }
                .icon-select:hover{
                    scale: 1.2;
                }
            }
        }
    }
}